.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat; 
}



.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  min-height: 300px;
  padding: 1rem;
  border-radius: 50px;
  box-shadow: 0 0px 10px #111;
  opacity: 0.79;
  user-select: none;
}

.weather-main {
  text-align: left;
  font-family: 'Helvetica', sans-serif;
  font-size: 266%;
  line-height: 195%;
  opacity: 1;
}

.info-sub {
  font-family: 'Arial', sans-serif;
  font-size: 75%;
  text-align: left;
  opacity: .75;
}

.temperature {
  font-family: 'Helvetica', sans-serif;
  font-size: 366%;
}

.icon {
  display:flex;    
  align-items:flex-end;
  justify-content: flex-end;
}

div.newMove1 {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 350px;
  width: 0px;
}

div.newMove2 {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 350px;
  width: 623px;
}

div.newMove3 {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 111px;
  width: 323px;
}